---
import BaseLayout from "../layouts/BaseLayout.astro";
import siteConfig from "../data/site-config";
import PostPreview from "../components/PostPreview.astro";
import { getCollection } from "astro:content";
import { sortItemsByDateDesc } from "../utils/data-utils";

const posts = (await getCollection("posts")).sort(sortItemsByDateDesc);

const pageTitle = "Publicaciones recientes";
---

<BaseLayout
	title={siteConfig.title}
	description={siteConfig.description}
	image={siteConfig.image}
>
	<main>
		<h1 class="text-2sm text-gray-600 my-3">{pageTitle.toUpperCase()}</h1>
		{
			posts.map((post) => (
				<PostPreview post={post} class="mb-10 sm:mb-12" />
			))
		}
	</main>
</BaseLayout>
