---
import ExternalLink from '@/components/ExternalLink.astro';

interface ListItem {
  title?: string;
  description: string;
  url?: string;
}

export interface Props {
  items: ListItem[];
  listType?: "numbered" | "bulleted" | "plain";
}

const { items, listType = "numbered" } = Astro.props;

const isNumbered = listType === "numbered";
const isBulleted = listType === "bulleted";
const isPlain = listType === "plain";
---

{isNumbered && (
  <ol class="list-none p-0 m-0">
    {items.map((item, index) => (
      <li class="mb-2">
        {item.title && (
          <span class="font-semibold text-negro-profundo dark:text-blanco-puro">
            {index + 1}.{" "}
            {item.url ? (
              <ExternalLink href={item.url} text={item.title} />
            ) : (
              item.title
            )}
            {item.description ? ": " : ""}
          </span>
        )}
        <span class="text-base md:text-[16px] text-gris-oscuro dark:text-gris-claro">
          {item.description}
        </span>
      </li>
    ))}
  </ol>
)}

{isBulleted && (
  <ul class="list-none p-0 m-0">
    {items.map((item) => (
      <li class="mb-2 flex gap-3">
        <span class="select-none text-gris-oscuro dark:text-gris-claro leading-6">
          •
        </span>

        <div class="flex-1">
          {item.title && (
            <span class="font-semibold text-negro-profundo dark:text-blanco-puro">
              {item.url ? (
                <ExternalLink href={item.url} text={item.title} />
              ) : (
                item.title
              )}
              {item.description ? ": " : ""}
            </span>
          )}

          <span class="text-base md:text-[16px] text-gris-oscuro dark:text-gris-claro">
            {item.description}
          </span>
        </div>
      </li>
    ))}
  </ul>
)}


{isPlain && (
  <ul class="list-none p-0 m-0">
    {items.map((item) => (
      <li class="mb-2">
        {item.title && (
          <span class="font-semibold text-negro-profundo dark:text-blanco-puro">
            {item.url ? (
              <ExternalLink href={item.url} text={item.title} />
            ) : (
              item.title
            )}
            {item.description ? ": " : ""}
          </span>
        )}
        <span class="text-base md:text-[16px] text-gris-oscuro dark:text-gris-claro">
          {item.description}
        </span>
      </li>
    ))}
  </ul>
)}
