---
import SiteTitle from "./SiteTitle.astro";
import Navigation from "./Navigation.astro";
import siteConfig, { type SocialMedia, type Image } from "@/config/site.config";
import Social from "./Social.astro";

export interface Props {
    image: Image;
    url: string;
    social: SocialMedia[];
}

const { image, url, social } = Astro.props;
---

<header class="flex flex-col pt-8 wrapper">
    <div class="flex-1 flex items-center gap-5">
        <img class="w-32 h-32 rounded-full" src={image?.src} alt={image?.alt} />
        <SiteTitle url={url} />
    </div>
    <div class="grid grid-cols-1">
        <Social social={social} />
        <hr />
        <Navigation navLinks={siteConfig.headerNavLinks} />
    </div>
</header>
